<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cross-minor intermezzo</title>
  <script defer src="/build/index.bundle.js"></script>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/animated-icons.css">
</head>
<body>
  <main>
    <section>
      <h1>Cross-minor intermezzo's <br> 12:00 | 14:00 | 16:00</h1>
    </section>
    <section>
      <h2>Amsterdam, Nederland</h2>
      <div class="weather">
        <h3><%= temp %><span class="degree-symbol">°</span>C</h3>
        <% if (weather === 'clear-day') { %>
          <div class="icon sunny">
            <div class="sun">
                <div class="rays"></div>
            </div>
          </div>
        <% } else if (weather === 'snow') { %>
          <div class="icon flurries">
            <div class="cloud"></div>
            <div class="snow">
              <div class="flake"></div>
              <div class="flake"></div>
            </div>
          </div>
        <% } else if (weather === 'cloudy') {%>
          <div class="icon cloudy">
            <div class="cloud"></div>
            <div class="cloud"></div>
          </div>
        <% } else if (weather === 'sleet') {%>
          <div class="icon thunder-storm">
            <div class="cloud"></div>
            <div class="lightning">
              <div class="bolt"></div>
              <div class="bolt"></div>
            </div>
          </div>
        <% } else if (weather === 'rain') {%>
          <div class="icon rainy">
            <div class="cloud"></div>
            <div class="rain"></div>
          </div>
        <% } else {%>
          <div class="icon cloudy">
            <div class="cloud"></div>
            <div class="cloud"></div>
          </div>
        <% } %>
      </div>
    <ul class="users">
      <% users.forEach(user => { %>
        <li data-id="<%= user.id %>"><a href="#" class="edit">edit</a><%= user.name ? `${user.name} (${user.id})` : user.id %> <span class="status <%= user.status === '1' ? 'present' : 'absent' %>"></span></li>
      <% }) %>
    </ul>
  </main>
</body>
</html>
