<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cross-minor intermezzo</title>
  <script defer src="/build/index.bundle.js"></script>

  <style>
    body {
      <% if (temp > 18) { %>
        background-image: url('/zon.jpg');
        <% } else { %>
          background-image: url('/regen.jpg');
      <% } %>
    }
  </style>

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <main>
    <section clas="temperature">
      <h1>Cross-minor intermezzo!</h1>
      <h2><%= temp %>℃</h2>
      <p>
        <% if (temp > 18) { %>
          Tijd om naar buiten te gaan!
        <% } else { %>
          Beter dat we binnen blijven..
        <% } %>
      </p>
    </div>

    <section class="users">
      <ul>
        <li>E554</li>
        <li>E554</li>
        <li>E554</li>
        <li>E554</li>
      </ul>
    </section>
  </main>
</body>
</html>
