body {
  display: flex;
  flex-direction: row;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
}

section {
  opacity: .8;
  padding: .5em 2em 1.5em 2em;
  background: black;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: white;
  text-align: center;
}

h1 {
  font-size: 4em;
  opacity: .8;
}

h2 {
  margin: 0;
  font-size: 8em;
  opacity: 1;
}

p {
  color: white;
  font-size: 2em;
  font-weight: 100;
  opacity: .5;
}

.temperature {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.users {
  flex-basis: 20em;
  height: 70vh;
  overflow: scroll;
}

.users li {
  display: block;
  padding: 1em;
  margin-bottom: 1em;
}

.users li:last-of-type {
  margin-bottom: 0;
}

.users li.present {
  border: 1px solid #2ecc71;
  color: #2ecc71;
}

.users li.not-present {
  border: 1px solid #e74c3c;
  color: #e74c3c;
}
